@import url('https://fonts.googleapis.com/css2?family=Notable&family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

i{
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:turquoise;
}
.turquoise {
  color:turquoise;
}

body{
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: black;
}
.card-img-top{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-overflow-2{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
}
.text-overflow-1{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
img{
  height: 100%;
  width: 100%;
}
.bg-t{
  background-color:turquoise;
}
.list-group {
  border: 2px solid red;
}
.text-sm{
  text-size-adjust: auto;
  font-weight: 500;
  text-decoration: none;
}

.blk{
  background: #000;
}
.no-underline {
  text-decoration: none;
}
.btn-t{
  border-color: turquoise;
  color: turquoise;
  box-shadow: 3px 3px black;
}
.btn-t:hover{
  border-color: turquoise;
  box-shadow: 3px 3px black;
  color: black;
  background: turquoise;
  cursor: pointer;
}
.btn-s:hover{
  border-color: red;
  box-shadow: 3px 3px black;
  color: black;
  background: red;
  cursor: pointer;
}
.btn-s{
  border-color: red;
  box-shadow: 3px 3px black;
  color: red`;
  cursor: pointer;
}
.btn-t:active{

  transform: translateX(2px);
  transform: translateY(2px);

}


.text-title{
  color: white;
  
  text-shadow: 4px 4px black;
}